.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.s1{
  background-color: aliceblue;
  text-align: right;
}
.s3{
  padding: 10px 16px;
}
.s2{
  text-align: center;
  font-size: larger;
}
.s4{
  font-size: larger;
  padding: 5px 10px;
}
.k1{
  font-size: large;
  padding: 3px 20px; 
}
#password #username{
  font-size: medium;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
